@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

* {
    margin: 0;
    padding: 0;
 }
 
 
 html {
    background: lightblue;
    background-size :cover;
    height: 100%;

    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

body {
    margin-top: 8em;

    width: 100%;
    height: 90%;

    background: green url(../images/grass-texture.jpg);
    background-size:200px;
    background-repeat: repeat;

    @media (max-width: 1000px) {
        margin-top: 14em;
        width: 100%;
        height: 80%;
        background: green url(../images/grass-texture.jpg);
        background-size: 200px;
        background-repeat: repeat;
    }

    main {
        .shopbutton {
            position: absolute;
            bottom: 1em;
            left: 1em;
            z-index: 9;
            padding: 1em 3em;
            background: linear-gradient(#fe5e10 ,#ff915c );
            border-bottom: 5px solid #e44600;
            
            border-radius: 50px;
            transition: ease 1s;
            font-size: 1.2em;
            text-transform: uppercase;

            color: white;
            text-decoration: none;

            font-family: 'DM Sans', sans-serif;
            font-weight: 1000;

            justify-content: center;
            align-items: center;
            display: flex;
            gap: 10px;

            &:hover {
                transform: scale(1.05);
                transition: ease 1s;
            }

            .shop-svg {
                color: white;
                width: auto;
                height: 20px;
                transform: rotate(90deg);
                transition: ease 1s;
                fill: none;
                stroke: #fff;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 9px;
            }


        }

        .fence {
            position: absolute;
            top: 50px;
            height: 100px;
            width: 100%;
            background: url(../images/Fence.png);
            background-repeat: repeat-x;
            background-size: contain;
            z-index: 1;

            @media (max-width: 1000px) {
                top: 140px;
            }

        }

        section {

            position: absolute;
            bottom: -200px;
            width: 100%;
            height: 200px;
            background: linear-gradient(#fe5e10 ,#ff915c ) ;

            display: flex;
            transition: ease 1s;

            ul {

                display: flex;
                align-items: center;
                flex-wrap: wrap;
                list-style: none;
                padding: 1em 2em;
                gap: 2em;
                flex-wrap: wrap;

                a {
                    
                    text-decoration: none;

                    li {
                        
                        background-color: yellow;
                        width: 3em;
                        height: 2em;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        padding: 1em 2em;
                        border-radius: 10px;
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 1000;
                        color: black;
                        text-transform: uppercase;
                        

                    }

                }

            }

        }

    }

}

footer {
    left: -250px;
    top: 0;
    z-index: 10;
    position: absolute;
    background: linear-gradient(#fe5e10 ,#ff915c );
    height: 100%;
    width: 250px;
    max-width: 250px;

    transition: ease 1s;

    a {
        left: 250px;
        padding: 10px;
        background: linear-gradient(#fe5e10 ,#ff915c );
        border-radius: 0 10px 10px 0;
        position: absolute;
        top: 5%;
        z-index: 3;

        height: 30px;
        width: 20px;

        @media (max-width:1000px) {
            height: 50px;
        }

        svg {

            height: 30px;
            fill: none;
            stroke: #fff;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 9px;

            transition: ease 0.4s;
            transform: rotate(180deg);

            @media (max-width:1000px) {
                height: 50px;
            }

        }
    
    }

    ul {
        z-index: 2;
    }
}

